/* マイクロ Mikuro-css: A super-lightweight framework tailored for https://charlesfarce.com/ */
/*line112*/

*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:60%;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;}
body{background-color:#131111;color:#b7b7b7;font-size:1.8rem;}
header{width:100%;margin:0 auto;position:center;padding: 2px 0;margin-bottom:10px;margin-top:7px;}
.logo { font-size: 30px; font-weight: 600; color: #7abddf; margin-left: 1px;}
nav ul{margin:0;}
nav form {display:inline;margin-right:51px;font-size:16px;line-height:20px;color:#ccc;}
nav ul li a {color:#333;}
.container{position:relative;align:center;width:1200px;max-width:99%;margin: 0 auto;}
footer{float:left;border-top:0.0em solid #383838; font-size:14px;line-height:26px;color:#ccc;margin-bottom:22px;margin-left:265px;padding:1px;}
footer a{color:#ccc;}
footer a:hover{color:#ccc;text-decoration:underline;}
footer ul li{display:inline;list-style:none;padding-left:20px;}
.row{width:100%;margin:0 auto 20px auto;display:inline-block;position:relative;}
.col-0{float:center;margin-right:6%;}
.col-1,.col-2{float:left;margin-right:2%;}
.row .col-1:last-child, .row .col-2:last-child{margin-right:0;}
.row:after, .clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden;}
.col-0{width:100%;padding:0px;margin-bottom:1px;overflow:auto;float:center;}
.col-1{ width:78%;padding-bottom:24px;border:solid 1px #535353;margin-bottom:1px;border-radius:6px;overflow: auto;min-height:605px;}
.col-1 ol{margin-bottom:20px;list-style: "▪ ";line-height:26px;padding-left: 30px;}
.col-2{width:20%;padding:0px;border:solid 1px #535353;margin-bottom:8px;border-radius:6px;overflow:auto;}
.float-left{float:left;}
.float-right{float:right;margin-bottom:2px;margin-right:10px;}
.float-center{float:center;margin-bottom:2px}
img.float-left{float:left;margin: 0 20px 20px 0;}
img.float-right{float:right;margin: 3 0 20px 20px; }
img.center{ margin: 0 auto;display:block;}
.text-left{ text-align:left;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}
.text-justify{ text-align:justify;}

a{color:#f6d331;text-decoration:none;}
a:hover, a:focus{color:#dbbe39;text-decoration:underline;}
a:active{color:#dbbe39;}
h1{font-family:Arial,sans-serif;font-size:30px;line-height:36px;margin-bottom:20px;padding:10px;}
h2{font-family:Arial,sans-serif;font-size:22px;line-height:20px;margin-bottom:10px;padding:10px;border-bottom: solid 1px #535353;background-color:#262626;border-radius: 6px 6px 0px 0px;}
h3{font-family:Arial,sans-serif;font-size:22px;line-height:20px;margin-bottom:4px;padding: 10px;}
h4{font-family:Arial,sans-serif;font-size:22px;line-height:20px;margin-bottom:10px;padding:8px;border-bottom: solid 1px #535353;width:100%;}
h5{font-size:14px;line-height:20px;margin-bottom:20px;}
h6{font-size:12px;line-height:20px;margin-bottom:20px;}
h1,h2,h3,h4,h5,h6 {color:#ccc;}
p{margin-bottom:1px;line-height:24px;padding:12px;}
sub, sup{padding:8px;}
hr{border: 0.1rem solid #535353;margin-top:3px;margin-bottom:10px;}
br{line-height:30px;}
samp{font: #eaeaea monospace;background-color:#222;padding:2px;}
code{font: #eaeaea monospace;background-color:#222;display:block;padding:10px;overflow-x:auto;}
pre{margin-bottom: 20px;padding:10px;display: block;overflow-x: auto;
white-space:pre-wrap;       /* css-3 */
white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
white-space:-pre-wrap;      /* Opera 4-6 */
white-space:-o-pre-wrap;    /* Opera 7 */
word-wrap:break-word;       /* Internet Explorer 5.5+ */}
pre > code{padding:0.4em;background-color:#222;white-space:pre;}
blockquote{margin:10px 10px 20px;padding: 9px;background-color:#f8f8f8;color:#666;border-left: 5px solid #ddd;font: 14px/20px Georgia, Times, serif; quotes: "\201C" "\201D";}
blockquote p{margin:0;}
blockquote:before{ ontent:open-quote;font-weight:bold;}
blockquote:after {content:close-quote;font-weight:bold;}
figure{max-width:100%;margin: 0.1em 0;text-align:center;}
figcaption{font-size:small;text-align:center;}
video{width:99%;height:auto;padding:10px;}
audio{color:#000;width:259px;}
ul{margin: 10px 10px 10px;padding:22px;list-style:none;line-height:26px;border: solid 1px #535353;}
ol{margin-bottom:20px;list-style:none;line-height:26px;padding-left:16px;}
ul ul, ol ol { margin-bottom:0; }
fieldset{position:relative;border-top:1px solid #afafaf;padding:10px;margin-bottom:30px;margin-top:30px;}
fieldset legend{font-weight:bold;font-size:16px;padding: 0 5px;}
table{margin-top:12px;margin-bottom:22px;width:100%;padding:10px;}
tfoot{font-style: italic;}
tr:nth-child(even){font-family:arial;color:#ccc;padding:12px;background-color:#262626;}
tr:nth-child(odd){font-family:arial;color:#ccc;padding:12px;background-color:#2c2c2c;}
td, th{padding: 12px;border-bottom: 0px solid #12080d;}

input[type=text], select, textarea {
width: 100%;
font-size:16px;
color:#b7b7b7;
background-color: #222;
padding: 12px;
border: 1px solid #535353;
border-radius: 0px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;}

input[type=submit] {
background-color: #222;
color: #b7b7b7;
font-size:16px;
padding: 12px 20px;
border: none;
border-radius: 0px;
cursor: pointer;}

input[type=submit]:hover{background-color:#4d4d4d;}
.input-container {border-radius: 0px;padding: 12px;}
textarea {width: 100%; }

/* basic multi-modal structure */
.pipn-showimg{float:left;padding:12px;width:100%;max-width:299px;}
.pipn-modal{z-index:3;display:none;padding-top:10px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.pipn-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:200px}
@media (max-width:1205px){.pipn-auto{max-width:95%}}
@media (max-width:600px){.pipn-modal-content{margin:0 10px;width:auto!important}.pipn-modal{padding-top:30px}
.pipn-dropdown-hover.pipn-mobile .pipn-dropdown-content,.pipn-dropdown-click.pipn-mobile .pipn-dropdown-content{position:relative}
.pipn-hide-small{display:none!important}.pipn-mobile{display:block;width:100%!important}.pipn-bar-item.pipn-mobile,.pipn-dropdown-hover.pipn-mobile,.pipn-dropdown-click.pipn-mobile{text-align:center}
.pipn-dropdown-hover.pipn-mobile,.pipn-dropdown-hover.pipn-mobile .pipn-btn,.pipn-dropdown-hover.pipn-mobile .pipn-button,.pipn-dropdown-click.pipn-mobile,.pipn-dropdown-click.pipn-mobile .pipn-btn,.pipn-dropdown-click.pipn-mobile .pipn-button{width:100%}}
@media (max-width:698px){.pipn-modal-content{width:500px}.pipn-modal{padding-top:50px}}
@media (min-width:993px){.pipn-modal-content{width:900px}.pipn-hide-large{display:none!important}.pipn-sidebar.pipn-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.pipn-hide-medium{display:none!important}}
@media (max-width:992px){.pipn-sidebar.pipn-collapse{display:none}.pipn-main{margin-left:0!important;margin-right:0!important}.pipn-auto{max-width:100%}}
